<div class="md-padding">

<div layout="column" layout-gt-md="row" class="dashboard-pane-1">

  <div flex="35">
	    <!-- Goals -->
        <div layout="row" layout-align="start center">
	    	<h1 class="md-headline light-gray">{{data.activeAction.action[0].verb}} {{data.activeAction.action[0].verb_quantity}} {{data.activeAction.action[0].noun}} {{data.activeAction.action[0].period | periodInWords:0}}</h1>
		</div>
        <div>
            <div layout="row" class="md-subhead light-gray dashboard-subhead">
                <md-chips>
                    <md-chip class="chip-action">Action</md-chip>
                </md-chips>
                <md-button class="md-raised md-primary" ng-hide="!showEditButtons" ng-click="save()">Save</md-button>
                <md-button class="md-raised" ng-hide="!showEditButtons" ng-click="cancel()">Cancel</md-button>
            </div>
        </div>
	    <div layout="row" layout-align="center center" class="dashboard-stat-container">
	        <div flex layout="column" layout-align="center center" class="dashboard-stat light-blue">
	            <div class="md-display-2">{{data.activeAction.action[0].remainingDays}}</div><div class="md-caption dashboard-box-caption">days remaining</div>
	        </div>
	        <div flex layout="column" layout-align="center center" class="dashboard-stat light-blue">
	            <md-switch class="md-display-1" ng-model="data.activeAction.action[0].status[data.activeAction.action[0].status.length-1].on" aria-label="Status" ng-change="actionDataChanged()">
                   {{  data.activeAction.action[0].status[data.activeAction.action[0].status.length-1].on  | statusFilter}}
                </md-switch>
                <div class="md-caption dashboard-box-caption">status</div>
	        </div>
	    </div>

        <div layout="row" layout-align="center center" class="dashboard-stat-container">
            <div flex layout="column" layout-align="center center" class="">
                <div class="md-caption light-gray">updated: {{data.activeAction.action[0].date_modified | date: 'yyyy-MM-dd'}}</div>
            </div>
            <div flex layout="column" layout-align="center center" class="">
                <div class="md-caption light-gray">created: {{data.activeAction.action[0].date_created | date: 'yyyy-MM-dd'}}</div>
            </div>
            <div flex layout="column" layout-align="center center" class="small-pad-top">
                <md-checkbox ng-model="data.activeAction.action[0].is_public" ng-change="actionDataChanged()">{{data.activeAction.action[0].is_public | is_publicFormat}}</md-checkbox>
                <!-- <div class="md-caption dashboard-box-caption">Visibility</div> -->
            </div>
        </div>

	    <!-- Action -->
        <!-- TODO: ng-sum? actions-->
        <h1 class="md-display-1 light-gray">Consistency</h1>
        <div layout="row">
            <div class="md-subhead light-gray dashboard-subhead"> Last {{data.outlook}} days</div>
        </div>

        <!-- Action repetitions -->
        <div layout="row" layout-align="center center" class="dashboard-stat-container">
            <div flex layout="column" layout-align="center center" class="dashboard-stat light-orange">
                <div class="md-display-2">{{data.activeAction.action.total.repetition}}</div><div class="md-caption dashboard-box-caption">Repetitions</div>
            </div>
            <div flex layout="column" layout-align="center center" class="dashboard-stat light-orange ">
                <div class="md-display-2">{{data.activeAction.action.total.rep_complete}}</div><div class="md-caption dashboard-box-caption">Rep completed</div>
            </div>
            <div flex layout="column" layout-align="center center" class="dashboard-stat light-orange">
                <div class="md-display-2">{{data.activeAction.action.total.rep_conversion}}%</div><div class="md-caption dashboard-box-caption">Rep conversion</div>
            </div>
        </div>

        <!-- data.outlook -->
        <div layout="row" layout-align="start center">
            <h1 class="md-display-1 light-gray">{{data.outlook}} day outlook</h1>
            
        </div>
            
        <div layout="row">
              <md-slider flex min="1" max="30" ng-model="data.outlook" aria-label="due" id="due-slider" class>
              </md-slider>
              <div flex="20" layout layout-align="center center">
                  <input flex type="number" ng-model="data.outlook" aria-label="due" aria-controls="outlook-slider" class="subtle-control">
              </div>
          </div>
  </div>

  <div flex="65">
        <div layout="row" layout-align="start center">
        	<h1 class="md-display-1 light-gray">Progress</h1>

            <md-button class="md-icon-button md-raised">
        		<ng-md-icon icon="exposure_plus_1" style="fill:green" class="md-avatar goal-card-icon" ng-click="incrementProgress(data.activeAction.action[0]);"></ng-md-icon>
        	</md-button>
        	<md-button class="md-icon-button md-raised">
        		<ng-md-icon icon="exposure_minus_1" style="fill:red" class="md-avatar goal-card-icon" ng-click="decrementProgress(data.activeAction.action[0]);"></ng-md-icon>
        	</md-button>
        </div>

        <div layout="row" >
            <md-content flex class="">
                <div class="">
                    <nvd3 options="data.activeAction.action[0].chart.options" data="data.activeAction.action[0].chart.data"></nvd3>
                </div>
            </md-content>
        </div>
	   
    	<div layout="row" layout-align="end center" class="small-pad-top small-pad-right">
            <a class="href-link md-subhead" ng-click="setActiveGoal(data.activeAction.goal[0])" href="#/goal">
                {{data.activeAction.goal[0].description}}
            </a>
             <md-chips>
               <md-chip class="chip-goal">Goal</md-chip>
             </md-chips>
         </div>
        <div layout="row" layout-align="end center" class="small-pad-top small-pad-right">
	    	 <md-button class="md-raised" href="#/dashboard">
                Dashboard
             </md-button>
             <md-button class="md-raised" href="#/list">
                All goals & actions
            </md-button>
		</div>
    	
    </div>

</div>
</div>

<div ng-controller="createCtrl">
    <create-sidenav f="methods" d="data"></create-sidenav>
</div>

<div ng-controller="settingsActionCtrl">
    <settings-goal-action-sidenav f="methods" d="data"></settings-goal-action-sidenav>
</div>
