<div class="md-padding">

<div layout="column" layout-gt-md="row" class="dashboard-pane-1">

  <div flex>

        <!-- Profile -->

        <div class="profile-card md-padding">
            <div layout="row" layout-align="start center" class="">
                <div class="circle-image-cropper-small">
                    <img src="{{ data.user.picture_url }}" alt="{{ data.user.first_name }}" class="circle-image" ng-cloak></img>
                </div>
                <md-chips class="medium-margin-left"><md-chip>Action</md-chip></md-chips>
            </div>
            <div layout="row" layout-align="start center" class="large-negative-margin-bottom">
                <h1 class="md-headline light-gray">{{data.action['active'].verb}} {{data.action['active'].verb_quantity}} {{data.action['active'].noun}} {{data.action['active'].period | periodInWords:0}}</h1>
            </div>
        </div>


        <!-- <div layout="row" layout-align="start center" class="goal-card small-margin-bottom large-margin-top">
            <div layout="column">
                <div class="circle-image-cropper profile-user-image user-card-picture">
                    <img src="{{ data.user.picture_url }}" height="80" width="80" alt="{{ data.user.first_name }}" class="circle-image " ng-cloak>
                </div>
            </div>
            <div layout="row" layout-align="start center" class="medium-pad-left">
                <h1 class="md-headline md-padding">{{data.action['active'].verb}} {{data.action['active'].verb_quantity}} {{data.action['active'].noun}} {{data.action['active'].period | periodInWords:0}}</h1>
                <md-chips class="large-margin-right"><md-chip>Action</md-chip></md-chips>
            </div>
        </div> -->

	    <!-- Goals -->
	    <div layout="row" layout-align="center center" class="dashboard-stat-container">
	        <div flex layout="column" layout-align="center center" class="dashboard-stat light-blue">
	            <div class="md-display-2">{{data.action['active'].remainingDays}}</div><div class="md-caption dashboard-box-caption">day{{data.action['active'].remainingDays | plural}} remaining</div>
	        </div>
	        <div flex layout="column" layout-align="center center" class="dashboard-stat light-blue">
	            <md-switch ng-disabled="data.user._id !== data.loggedInAs._id" class="md-display-1" ng-model="data.action['active'].status[data.action['active'].status.length-1].on" aria-label="Status" ng-change="actionDataChanged()">
                   {{  data.action['active'].status[data.action['active'].status.length-1].on  | statusFilter}}
                </md-switch>
                <div class="md-caption dashboard-box-caption">status</div>
	        </div>
	    </div>
        
	    <!-- Action -->
        <h1 class="md-display-1 light-gray">Consistency</h1>
        <div layout="row">
            <div class="md-subhead light-gray dashboard-subhead"> Last {{data.outlook}} day{{data.outlook | plural}}</div>
        </div>

        <!-- Action repetitions -->
        <div layout="row" layout-align="center center" class="dashboard-stat-container">
            <div flex layout="column" layout-align="center center" class="dashboard-stat light-orange">
                <div class="md-display-1 dashboard-stat-action">{{data.action['active'].total.repetition}}</div><div class="md-caption dashboard-box-caption">Planned reps</div>
            </div>
            <div flex layout="column" layout-align="center center" class="dashboard-stat light-orange ">
                <div class="md-display-1 dashboard-stat-action">{{data.action['active'].total.rep_complete}}</div><div class="md-caption dashboard-box-caption">Reps complete</div>
            </div>
            <div flex layout="column" layout-align="center center" class="dashboard-stat light-orange">
                <div layout="row" layout-align="center center">
                    <div class="md-display-1 dashboard-stat-action">{{data.action['active'].total.rep_conversion}}
                    </div>
                    <h2 class="md-subhead">%</h2>
                </div>
                <div class="md-caption dashboard-box-caption">Conversion</div>
            </div>
        </div>

  </div>

  <div flex class="large-margin-left">
        <div layout="row" layout-align="start center">
        	<h2 class="md-display-1 light-gray">Progress</h2>

            <md-button ng-hide="data.user._id !== data.loggedInAs._id" class="md-icon-button md-raised" aria-label="Increment progress for action">
        		<ng-md-icon icon="exposure_plus_1" style="fill:green" class="md-avatar goal-card-icon" ng-click="incrementProgress()"></ng-md-icon>
        	</md-button>
        	<md-button ng-hide="data.user._id !== data.loggedInAs._id" class="md-icon-button md-raised" aria-label="Decrement progress for action">
        		<ng-md-icon icon="exposure_minus_1" style="fill:red" class="md-avatar goal-card-icon" ng-click="decrementProgress(data.action['active']);"></ng-md-icon>
        	</md-button>
        </div>

        <!-- Chart -->
        <div layout="row" >
            <md-content flex>
                <div class="">
                    <nvd3 options="data.action['active'].chart.options" data="data.action['active'].chart.data"></nvd3>
                </div>
            </md-content>
        </div>
	   
      


        <!-- Action details -->
        <div layout="column" class="md-padding" layout-wrap layout-align="center start" class="dashboard-stat-container">
            <div layout="row" layout-align="start center">
                <div class="medium-margin-right">
                <md-checkbox ng-disabled="data.user._id !== data.loggedInAs._id" ng-model="data.action['active'].is_public" ng-change="actionDataChanged()">{{data.action['active'].is_public | is_publicFormat}}</md-checkbox>
                </div>
            </div>
            
            <div class="md-caption light-gray medium-margin-right">updated: {{data.action['active'].date_modified | date: 'yyyy-MM-dd'}}</div>
            <div class="md-caption light-gray medium-margin-right">created: {{data.action['active'].date_created | date: 'yyyy-MM-dd'}}</div>
            
            <div layout="row" class="small-pad-top">
                <md-button class="md-raised md-primary" ng-hide="!showEditButtons" ng-click="save()" aria-label="Save action changes">Save</md-button>
                <md-button class="md-raised" ng-hide="!showEditButtons" ng-click="cancel()" aria-label="Cancel action changes">Cancel</md-button>
            </div>
        </div>
    </div>
    	
    <div flex>

        <!-- data.outlook -->
        <div layout="row" layout-align="start center">
            <h1 class="md-display-1 light-gray">{{data.outlook}} day outlook</h1>
        </div>
            
        <div layout="row">
              <md-slider flex min="1" max="30" ng-model="data.outlook" aria-label="due" id="due-slider" class>
              </md-slider>
              <div flex="20" layout layout-align="center center">
                  <input flex type="number" ng-model="data.outlook" aria-label="due" aria-controls="outlook-slider" class="subtle-control">
              </div>
        </div>

        <!-- Links -->
        <div layout="row" layout-align="start center" layout-wrap class="">
             <md-button class="md-raised" href="#/{{data.user._id}}/dashboard">
                Dashboard
             </md-button>
             <md-button class="md-raised" href="#/{{data.user._id}}/list">
                All goals & actions
            </md-button>
        </div>

         <!-- Parent goal -->
        <div layout="row" layout-align="start center" layout-wrap class="small-pad-top small-pad-left">

            <md-input-container>
                <label>Goal</label>
                <md-select required ng-disabled="data.user._id !== data.loggedInAs._id" ng-model="data.action['active']._goalid" ng-change="actionDataChanged()">
                    <md-option ng-repeat="g in data.goal" ng-value="g._id">
                        {{g.description}}
                    </md-option>
                </md-select>
            </md-input-container>
            <md-button md-no-ink class="md-primary" ng-click="setActiveGoal(data.action['active'].goal)" ng-href="#/{{data.user._id}}/goal/{{data.action['active']._goalid}}" href="#/{{data.user._id}}/goal/{{data.action['active']._goalid}}">
                Parent goal
            </md-button>
         </div>

    </div>
</div>

<div ng-controller="CreateCtrl">
    <create-sidenav f="methods" d="data"></create-sidenav>
</div>

