<!-- Create -->
<md-sidenav layout="column" class="md-sidenav-right md-whiteframe-11dp" md-component-id="create" scroll>
    <div ng-cloak>
        <!-- Toolbar -->
        <md-toolbar class="md-hue-2">
          <div class="md-toolbar-tools">
            <h2>
              <span>{{d.view.title}}</span>
            </h2>
            <span flex></span>
            <md-button class="md-icon-button d.goal-card-icon" aria-label="Close" ng-click="f.toggleMenu('create')">
                <ng-md-icon icon="close" class="white-fill"></ng-md-icon>
            </md-button>
          </div>
        </md-toolbar>
        <md-content>
            <md-tabs md-dynamic-height md-border-bottom md-selected="d.view.selectedIndex">
                <!-- Create Goal -->
                <md-tab label="Goal">
                    <md-content class="md-padding">
                        <md-input-container class="md-block">
                            <label>Description</label>
                            <textarea required ng-model="d.goal.description" md-maxlength="150" rows="5" md-select-on-focus></textarea>
                        </md-input-container>

                        <md-input-container>
                            <label>Status</label>
                            <md-select required ng-model="d.goal.status">
                                <md-option ng-repeat="s in d.goal.statusList" ng-value="s">
                                    {{s}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                        <md-checkbox ng-model="d.goal.is_public" aria-label="Is public">
                            Public
                        </md-checkbox>

                        <md-datepicker ng-model="d.goal.due" required md-placeholder="Due date">
                        </md-datepicker>


                        <div class="small-pad-top">
                            <md-button class="md-raised md-primary" ng-click="f.saveGoal(d.goal.description, d.goal.status, d.goal.is_public, d.goal.due)">Save</md-button>
                            <md-button ng-click="f.toggleMenu('create')">Cancel</md-button>
                        </div>
                    </md-content>
                </md-tab>
                <!-- Create Action -->
                <md-tab label="Action" ng-click="f.initialise()">
                    <md-content class="md-padding">
                        <md-input-container>
                            <label>Goal</label>
                            <md-select required ng-model="d.action.goalSelected">
                                <md-option ng-repeat="g in d.goals" value="{{g._id}}">
                                    {{g.description}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Action</label>
                            <input md-maxlength="30" required name="actionverb" ng-model="d.action.verb" />
                            <div class="hint">E.g. Walk, Read, Study, Attend, etc.</div>
                            <div ng-messages="userForm.name.$error">
                            </div>
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Repetitons</label>
                            <input type="number" required name="actionverbfrequency" ng-model="d.action.verb_quantity" />
                            <div class="hint">E.g. 1, 2, 3, etc.</div>
                            <div ng-messages="userForm.name.$error">
                            </div>
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Acting on</label>
                            <input md-maxlength="30" required name="actionnoun" ng-model="d.action.noun" />
                            <div class="hint">E.g. Miles, Books, Gym sessions, etc.</div>
                            <div ng-messages="userForm.name.$error">
                            </div>
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Per number of days</label>
                            <input type="number" required name="actionperiod" ng-model="d.action.period" />
                            <div class="hint">E.g. 1, 7 (1 week), 30 (1 month), etc.</div>
                            <div ng-messages="userForm.name.$error">
                            </div>
                        </md-input-container>

                        <md-checkbox ng-model="d.action.is_public" aria-label="Is public">
                            Public
                        </md-checkbox>

                        <md-switch ng-model="d.action.statusOn" aria-label="Status">
                            Status: {{  d.action.statusOn  | statusFilter}}
                        </md-switch>

                        <div class="small-pad-top">
                            <md-button class="md-raised md-primary" ng-click="f.saveAction(d.action.goalSelected, d.action.verb, d.action.verb_quantity, d.action.noun, d.action.period, d.action.is_public, d.action.statusOn)">Save</md-button>
                            <md-button ng-click="f.toggleMenu('create')">Cancel</md-button>
                        </div>
                    </md-content>
                </md-tab>

                <!-- goal delete -->
                <div ng-if="d.view.page === 'goal'">
                    <md-tab label="Delete">
                    <md-content class="md-padding">

                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Goal</label>
                            <input required name="goalDescription" ng-model="d.goal.deleteView.description" value="d.goal.deleteView.goalId" disabled/>
                        </md-input-container>

                        <md-radio-group ng-model="d.goal.deleteView.actionDestination">
                            <label class="md-body-1">What should be done with the goals' associated actions?</label>

                          <md-radio-button value="move" class="md-primary">Move to 
                          </md-radio-button>

                            <md-input-container class="medium-margin-left">
                                <label>Goal</label>
                                <md-select ng-model="d.goal.deleteView.actionMoveTo" ng-disabled="d.goal.deleteView.actionDestination!=='move'">
                                  <md-optgroup label="Empty bucket">
                                    <md-option ng-value="untitled._id" ng-repeat="untitled in d.goal.deleteView.untitled">{{untitled.description}}</md-option>
                                  </md-optgroup>
                                  <md-optgroup label="Existing goal">
                                  <!-- TODO: remove current goal -->
                                    <md-option ng-value="g._id" ng-repeat="g in d.goals">{{g.description}}</md-option>
                                  </md-optgroup>
                                </md-select>
                              </md-input-container>

                          <md-radio-button value="delete"> Delete all</md-radio-button>
                        </md-radio-group>

                        <md-input-container class="">
                            <label>Confirm delete</label>
                            <textarea ng-model="d.goal.deleteView.confirm" rows="5" placeholder="Type REMOVE to delete"></textarea>
                        </md-input-container>

                        <md-button class="md-raised md-warn" ng-click="f.deleteGoal()" ng-disabled="d.goal.deleteView.confirm!=='REMOVE'">Delete</md-button>

                        </md-content>
                    </md-tab>
                </div>
                <!-- End of goal delete -->

                <!-- action delete -->
                <div ng-if="d.view.page === 'action'">
                    <md-tab label="Delete">
                    <md-content class="md-padding">
                        
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Action</label>
                            <input required name="actionDescription" ng-model="d.action.deleteView.description" value="d.action.deleteView.actionId" disabled/>
                        </md-input-container>

                        <md-input-container class="">
                            <label>Confirm delete</label>
                            <textarea ng-model="d.action.deleteView.confirm" rows="5" placeholder="Type REMOVE to delete"></textarea>
                        </md-input-container>

                        <md-button class="md-raised md-warn" ng-click="f.deleteAction()" ng-disabled="d.action.deleteView.confirm!=='REMOVE'">Delete</md-button>

                    </md-content>
                </md-tab>
                </div>
                <!-- End of action delete -->

            </md-tabs>
        </md-content>
    </div>
</md-sidenav>
