
<div ng-repeat="g in goal | orderBy: getDateCreated : true" >
	<div layout="row" layout-align="center center" layout-wrap class="page">

		<md-card layout-xs="95" flex="80" layout-wrap>
		<md-card-content>
		<div layout="column">
			<div layout="row" layout-align="start center">
				<div class="md-headline"> {{g.description}} by {{ g.due | date}}</div>

				<div flex layout="row" layout-align="end center">
					<!-- <div class="md-caption goal-due"> {{ g.due | date}} </div> -->

					<md-button class="md-icon-button goal-card-icon" aria-label="Less">
					<ng-md-icon icon="arrow_drop_up"></ng-md-icon>
				</md-button>
		</div>
	</div>

	<div ng-repeat="a in action | filter:{ _goalid: g._id}:true">
	<span layout="row"><hr flex/><hr flex/></span>

		<div layout="row" layout-align="start center" class="small-pad-top">
			<div layout="column" layout-align="start start" class="small-pad-right">

				<md-button class="md-icon-button goal-card-icon progress-plus" aria-label="Up progress" ng-click="updateProgress(a, 1);">
					<ng-md-icon icon="keyboard_arrow_up"></ng-md-icon>
				</md-button>

				<md-button class="md-icon-button goal-card-icon progress-minus" aria-label="Down progress" ng-click="updateProgress(a, -1);">
					<ng-md-icon icon="keyboard_arrow_down"></ng-md-icon>
				</md-button>
			</div>

	<div layout="column" class="small-pad-left-right action-info" layout-align="center center">
		<div class="md-headline">{{ a.currentProgress }}/{{a.verb_quantity}}</div>
		<div>{{ a.currentProgress/a.verb_quantity | percentage:0 }}</div>
	</div>
	<div layout="column" class="small-pad-left-right action-info" layout-align="center center">
		<div layout="row" layout-align="center center">
			<div class="md-headline">{{ a.daysRemaining }}</div>
			<div class="small-pad-left">{{ a.daysRemaining | daysRemainingDescription}}</div>
		</div>
		<div>{{ a.deadline | date: 'MMM d'}}</div>
	</div>

	<div class="graph-placeholder hide-sm">
		<nvd3 options="a.chart.options" data="a.chart.data"></nvd3>
	</div>
</div>
<div layout="row" class="small-pad-top-bottom">
	<div flex layout="row" layout-align="center center">{{a.verb}} {{a.verb_quantity}} {{a.noun}} {{a.period | periodInWords:0}} until {{a.due | date}}</div>
</div>

</div>
</div>
</div>
</md-card-content>
</md-card>
</div>
</div>

<!-- <md-sidenav md-component-id="left" class="md-sidenav-right">
    Left Nav!
</md-sidenav> -->

<md-sidenav layout="column" class="md-sidenav-right md-whiteframe-z2" md-component-id="create" scroll>
<div ng-cloak>
  <md-toolbar class="menu-toolbar md-hue-2" layout-align="center start">
  	<div class="large-pad-left">Create new</div>
  </md-toolbar>
  <md-content>
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="Goal">
        <md-content class="md-padding">
          	<md-input-container class="md-block">
	          <label>Goal description</label>
	          <textarea required ng-model="goal.description" md-maxlength="150" rows="5" md-select-on-focus></textarea>
	        </md-input-container>
	        <md-datepicker ng-model="goal.due" required md-placeholder="Due date"></md-datepicker>
	        <div class="small-pad-top">
		        <md-button class="md-raised md-primary" ng-click="createGoal(goal.description, goal.due);">Save</md-button>
		        <md-button ng-click="toggleMenu('create')">Cancel</md-button>
	    	</div>
        </md-content>
      </md-tab>
      <md-tab label="Action">
        <md-content class="md-padding">
<!--            public			: Boolean,
    verb 			: String,
    verb_quantity	: Number,
    noun			: String,
    period 			: Number, // TODO: Store period as Number, apply Angular filter clientside to show 'every month' for 30 days, 'every week' for 7 days, 'every 120 days' for 120 day custom period. 0: one time
    due 			: Date, -->
		    <md-input-container>
		        <label>Goal</label>
		        <md-select required ng-model="goalSelected">
		          <md-option ng-repeat="g in goal" value="{{g._id}}">
		            {{g.description}}
		          </md-option>
		        </md-select>
		      </md-input-container>
			<md-input-container class="md-block" flex-gt-sm>
	          <label>Action</label>
	          <input md-maxlength="30" required name="actionverb" ng-model="action.verb" />
	          <div class="hint">E.g. Walk, Read, Study, Attend, etc.</div>
	          <div ng-messages="userForm.name.$error">
	          </div>
	        </md-input-container>
	        <md-input-container class="md-block" flex-gt-sm>
	          <label>Repetitons</label>
	          <input type="number" required name="actionverbfrequency" ng-model="action.verb_quantity" />
	          <div class="hint">E.g. 1, 2, 3, etc.</div>
	          <div ng-messages="userForm.name.$error">
	          </div>
	        </md-input-container>
	        <md-input-container class="md-block" flex-gt-sm>
	          <label>Acting on</label>
	          <input md-maxlength="30" required name="actionnoun" ng-model="action.noun" />
	          <div class="hint">E.g. Miles, Books, Gym sessions, etc.</div>
	          <div ng-messages="userForm.name.$error">
	          </div>
	        </md-input-container>
	        <md-input-container class="md-block" flex-gt-sm>
	          <label>Per number of days</label>
	          <input type="number" required name="actionperiod" ng-model="action.period" />
	          <div class="hint">E.g. 1, 7 (1 week), 30 (1 month), etc.</div>
	          <div ng-messages="userForm.name.$error">
	          </div>
	        </md-input-container>
        	<md-datepicker ng-model="action.due" required md-placeholder="Until"></md-datepicker>
	        </md-input-container>
	        <div class="small-pad-top">
		        <md-button class="md-raised md-primary" ng-click="createAction(goalSelected, action.verb, action.verb_quantity, action.noun, action.period, action.due)">Save</md-button>
		        <md-button ng-click="toggleMenu('create')">Cancel</md-button>
	    	</div>
        </md-content>
      </md-tab>
    </md-tabs>
</div>
</md-sidenav>

<md-sidenav layout="column" class="md-sidenav-right md-whiteframe-z2" md-component-id="settings">
<md-toolbar class="md-hue-2">
        <span flex></span>
        <div layout="column" class="md-toolbar-tools-bottom inset">
          <div class="large-pad-left">Settings</div>
        </div>
      </md-toolbar>
</md-sidenav>

<div>


<!-- <div class="page">
<md-button href="#/login" ng-click="logout()">Logout</md-button>
</div> -->