<div class="md-padding">

<div layout="column" layout-gt-md="row" class="dashboard-pane-1">
  <div flex>

	    <!-- Goals -->
        <div layout="row" layout-align="start center">
	    	<h1 class="md-headline light-gray">{{data.activeGoal.goal.description}}</h1>
		</div>

        <div>
            <div layout="row" class="md-subhead light-gray dashboard-subhead">
                <md-chips>
                    <md-chip class="chip-goal">Goal</md-chip>
                </md-chips>
                <md-button class="md-raised md-primary" ng-hide="!showEditButtons" ng-click="save()">Save</md-button>
                <md-button class="md-raised" ng-hide="!showEditButtons" ng-click="cancel()">Cancel</md-button>
            </div>
        </div>
	    <div layout="row" layout-align="center center" class="dashboard-stat-container">
	        <div flex layout="column" layout-align="center center" class="dashboard-stat light-blue">
	            <div class="md-display-2">{{data.activeGoal.goal.remainingDays}}</div><div class="md-caption dashboard-box-caption">days remaining</div>

	        </div>
	        <div flex layout="column" layout-align="center center" class="dashboard-stat light-blue">
	            <md-select required ng-model="data.activeGoal.goal.status" ng-change="goalDataChanged()">
                    <md-option ng-value="s" ng-repeat="s in statusList" >
                        {{s}}
                    </md-option>
                </md-select>
                <div class="md-caption dashboard-box-caption">status</div>
	        </div>
	    </div>
        <div layout="row" layout-align="center center" class="dashboard-stat-container">
            <div flex layout="column" layout-align="center center" class="">
                <div layout="row" layout-align="center center">
                <div class="light-gray">due</div> 
                <md-datepicker ng-model="data.activeGoal.goal.due" required md-placeholder="Until" ng-disabled="data.activeGoal.goal.status !='Open'" ng-change="goalDataChanged()"></md-datepicker>
                </div>
            </div>
            <div flex layout="column" layout-align="center center" class="small-pad-top">
                <md-checkbox ng-model="data.activeGoal.goal.is_public" ng-disabled="data.activeGoal.goal.status !='Open'" ng-change="goalDataChanged()">{{data.activeGoal.goal.is_public | is_publicFormat}}</md-checkbox>
                <!-- <div class="md-caption dashboard-box-caption">Visibility</div> -->
            </div>
        </div>
        <div layout="row" layout-align="center center" class="dashboard-stat-container">
            <div flex layout="column" layout-align="center center" class="">
                <div class="md-caption light-gray">updated: {{data.activeGoal.goal.date_modified | date: 'yyyy-MM-dd'}}</div>
            </div>
            <div flex layout="column" layout-align="center center" class="">
                <div class="md-caption light-gray">created: {{data.activeGoal.goal.date_created | date: 'yyyy-MM-dd'}}</div>
            </div>
        </div>

	    <!-- Action list -->
        <!-- TODO: ng-sum? actions-->
        <h1 class="md-display-1 light-gray">Actions</h1>
        <div layout="row">
            <div class="md-subhead light-gray dashboard-subhead"> Last {{data.outlook}} days</div>
        </div>
        <div layout="row" layout-align="center center" class="dashboard-stat-container">
            <div flex layout="column" layout-align="center center" class="dashboard-stat light-orange">
                <div class="md-display-2">{{data.activeGoal.action.total.total}}</div><div class="md-caption dashboard-box-caption">Total</div>
            </div>
            <div flex layout="column" layout-align="center center" class="dashboard-stat light-orange ">
                <div class="md-display-2">{{data.activeGoal.action.total.on}}</div><div class="md-caption dashboard-box-caption">On</div>
            </div>
            <div flex layout="column" layout-align="center center" class="dashboard-stat light-orange">
                <div class="md-display-2">{{data.activeGoal.action.total.off}}</div><div class="md-caption dashboard-box-caption">Off</div>
            </div>
        </div>
        <!-- Action repetitions -->
        <div layout="row" layout-align="center center" class="dashboard-stat-container">
            <div flex layout="column" layout-align="center center" class="dashboard-stat light-orange">
                <div class="md-display-1 dashboard-stat-action">{{data.activeGoal.action.total.repetition}}</div><div class="md-caption dashboard-box-caption">Repetitions</div>
            </div>
            <div flex layout="column" layout-align="center center" class="dashboard-stat light-orange ">
                <div class="md-display-1 dashboard-stat-action">{{data.activeGoal.action.total.rep_complete}}</div><div class="md-caption dashboard-box-caption">Rep completed</div>
            </div>
            <div flex layout="column" layout-align="center center" class="dashboard-stat light-orange">
                <div class="md-display-1 dashboard-stat-action">{{data.activeGoal.action.total.rep_conversion}}%</div><div class="md-caption dashboard-box-caption">Rep conversion</div>
            </div>
        </div>
  </div>

  <!-- Upcoming actions -->
  <div flex>
        <div layout="row" layout-align="start center">
        	<h2 class="md-display-1 light-gray">Upcoming</h2>
            <md-button class="md-icon-button md-raised" ng-click="toggleMenu('create')">
                <ng-md-icon icon="add" class="md-avatar greenFill" size="25"></ng-md-icon>
            </md-button>
        </div>
        <div layout="row">
            <div class="md-subhead light-gray dashboard-subhead"> Next {{data.outlook}} days</div>
        </div>
        <div layout="row" >
            <md-content flex="90" class="">
                <md-list class="dashboard-box dashboardbox-top-margin">
                    <md-list-item class="md-2-line goal-list" ng-repeat="a in data.activeGoal.action | orderBy:'remainingDays'" ng-hide="(a.remainingDays > data.outlook) || (a.remainingDays < 0)">
                    	<md-button class="md-icon-button">
                    		<ng-md-icon icon="exposure_plus_1" style="fill:green" class="md-avatar goal-card-icon" ng-click="incrementProgress(a)"></ng-md-icon>
                    	</md-button>
                        <div class="md-list-item-text" layout="column">
                            <h3><a ng-click="setActiveAction(a)" href="#/action" class="href-link">{{a.verb}} {{a.verb_quantity}} {{a.noun}}</a></h3>
					        <h4>{{a.remainingDays}} days remaining </h4> 
					        <p>action</p>
					        <md-progress-linear md-mode="determinate" value="{{100*(a.currentProgress/a.verb_quantity)}}"></md-progress-linear>
                        </div>
                        <md-divider></md-divider>
                    </md-list-item>
            </md-content>
        </div>
  </div>

  <div flex>
  		<!-- data.outlook -->
        <div layout="row" layout-align="start center">
            <h1 class="md-display-1 light-gray">{{data.outlook}} day outlook</h1>
            
        </div>
	    	
        <div layout="row">
              <md-slider flex min="1" max="30" ng-model="data.outlook" aria-label="due" id="due-slider" class>
              </md-slider>
              <div flex="20" layout layout-align="center center">
                  <input flex type="number" ng-model="data.outlook" aria-label="due" aria-controls="outlook-slider" class="subtle-control">
              </div>
          </div>
    
    	<!-- Recent -->
    	<div layout="row" layout-align="start center">
            <md-button class="md-raised" href="#/dashboard">
                Dashboard
            </md-button>
		</div>
  </div>

</div>

</div>

<div ng-controller="createCtrl">
    <create-sidenav f="methods" d="data"></create-sidenav>
</div>

<div ng-controller="settingsGoalCtrl">
    <settings-goal-action-sidenav f="methods" d="data"></create-sidenav>
</div>