<div class="md-padding">

<div layout="column" layout-gt-md="row" class="dashboard-pane-1">
  <div flex>

        <!-- Profile -->
        <div layout="row" layout-align="start center" class="goal-card small-margin-bottom">
            <div layout="column">
                <div class="circle-image-cropper profile-user-image user-card-picture">
                    <img src="{{ data.user.picture_url }}" height="80" width="80" alt="{{ data.user.first_name }}" class="circle-image " ng-cloak>
                </div>
            </div>
            <div layout="row" layout-align="start center" class="medium-pad-left">
                <h1 class="md-headline md-padding">{{data.goal['active'].description}}</h1>
                <md-chips class="large-margin-right"><md-chip>Goal</md-chip></md-chips>
            </div>
        </div>

        <!-- Goal stats -->
	    <div layout="row" layout-align="center center" class="dashboard-stat-container">
	        <div flex layout="column" layout-align="center center" class="dashboard-stat light-blue">
	            <div class="md-display-2">{{data.goal['active'].remainingDays}}</div><div class="md-caption dashboard-box-caption">day{{data.goal['active'].remainingDays | plural }} remaining</div>

	        </div>
	        <div flex layout="column" layout-align="center center" class="dashboard-stat light-blue">
	            <md-select required ng-model="data.goal['active'].status" ng-change="goalDataChanged()" aria-label="Goal status">
                    <md-option ng-value="s" ng-repeat="s in statusList" >
                        {{s}}
                    </md-option>
                </md-select>
                <div class="md-caption dashboard-box-caption">status</div>
	        </div>
	    </div>
        

	    <!-- Action list -->
        <!-- TODO: ng-sum? actions-->
        <h1 class="md-display-1 light-gray">Actions</h1>
        <div layout="row">
            <div class="md-subhead light-gray dashboard-subhead"> Last {{data.outlook}} day{{data.outlook | plural }}</div>
        </div>
        <div layout="row" layout-align="center center" class="dashboard-stat-container">
            <div flex layout="column" layout-align="center center" class="dashboard-stat light-orange">
                <div class="md-display-2">{{data.goal['active'].action.total.total}}</div><div class="md-caption dashboard-box-caption">Total</div>
            </div>
            <div flex layout="column" layout-align="center center" class="dashboard-stat light-orange ">
                <div class="md-display-2">{{data.goal['active'].action.total.on}}</div><div class="md-caption dashboard-box-caption">On</div>
            </div>
            <div flex layout="column" layout-align="center center" class="dashboard-stat light-orange">
                <div class="md-display-2">{{data.goal['active'].action.total.off}}</div><div class="md-caption dashboard-box-caption">Off</div>
            </div>
        </div>
        <!-- Action repetitions -->
        <div layout="row" layout-align="center center" class="dashboard-stat-container">
            <div flex layout="column" layout-align="center center" class="dashboard-stat light-orange">
                <div class="md-display-1 dashboard-stat-action">{{data.goal['active'].action.total.repetition}}</div><div class="md-caption dashboard-box-caption">Planned reps</div>
            </div>
            <div flex layout="column" layout-align="center center" class="dashboard-stat light-orange ">
                <div class="md-display-1 dashboard-stat-action">{{data.goal['active'].action.total.rep_complete}}</div><div class="md-caption dashboard-box-caption">Reps complete</div>
            </div>
            <div flex layout="column" layout-align="center center" class="dashboard-stat light-orange">
                <div layout="row" layout-align="center center">
                    <div class="md-display-1 dashboard-stat-action">{{data.goal['active'].action.total.rep_conversion}}
                    </div>
                    <h2 class="md-subhead">%</h2>
                </div>
                <div class="md-caption dashboard-box-caption">Conversion</div>
            </div>
        </div>
  </div>

  <!-- Upcoming actions -->
  <div flex class="medium-margin-left">
        <div layout="row" layout-align="start center">
        	<h2 class="md-display-1 light-gray">Upcoming</h2>
            <md-button class="md-icon-button" ng-click="toggleMenu('create-action')" aria-label="Create action">
                <ng-md-icon icon="add" class="md-avatar green-fill" size="25"></ng-md-icon>
            </md-button>
        </div>
        <div layout="row">
            <div class="md-subhead light-gray dashboard-subhead"> Next {{data.outlook}} day{{data.outlook | plural }}</div>
        </div>
        <div layout="row" >
            <md-content flex="90" class="">
                <md-list class="dashboard-box dashboardbox-top-margin">
                    <md-list-item class="md-2-line goal-list" ng-repeat="a in data.goal['active'].action | orderBy:'remainingDays'" ng-hide="(a.remainingDays > data.outlook) || (a.remainingDays < 0)">
                    	<md-button class="md-icon-button" aria-label="Increment progress">
                    		<ng-md-icon icon="exposure_plus_1" style="fill:green" class="md-avatar goal-card-icon" ng-click="incrementProgress(a)"></ng-md-icon>
                    	</md-button>
                        <div class="md-list-item-text" layout="column">
                            <h3><a ng-click="setActiveAction(a)" href="#/{{data.user._id}}/action/{{a._id}}" class="href-link">{{a.verb}} {{a.verb_quantity}} {{a.noun}}</a></h3>
					        <h4>{{a.remainingDays}} day{{a.remainingDays | plural }} remaining </h4> 
					        <p>action</p>
					        <md-progress-linear md-mode="determinate" value="{{100*(a.currentProgress/a.verb_quantity)}}"></md-progress-linear>
                        </div>
                        <md-divider></md-divider>
                    </md-list-item>
            </md-content>
        </div>
  </div>

  <div flex>
  		<!-- data.outlook -->
        <div layout="row" layout-align="start center">
            <h1 class="md-display-1 light-gray">{{data.outlook}} day outlook</h1>
        </div>
	    	
        <div layout="row">
          <md-slider flex min="1" max="30" ng-model="data.outlook" aria-label="due" id="due-slider" class>
          </md-slider>
          <div flex="20" layout layout-align="center center">
              <input flex type="number" ng-model="data.outlook" aria-label="due" aria-controls="outlook-slider" class="subtle-control">
          </div>
        </div>
    
    	<!-- Links -->
    	<div layout="row" layout-align="start center">
            <md-button class="md-raised" href="#/{{data.user._id}}/dashboard" aria-label="Back to dashboard">
                Dashboard
            </md-button>
		</div>

        <!-- Goal details -->
        <div layout="column" class="md-padding" layout-align="start start" class="dashboard-stat-container">
                <div layout="row" layout-align="start center">
                    <div class="small-pad-top">
                    <md-checkbox ng-model="data.goal['active'].is_public" ng-change="goalDataChanged()">{{data.goal['active'].is_public | is_publicFormat}}</md-checkbox>
                </div>
                    <md-datepicker ng-model="data.goal['active'].due" required md-placeholder="Until" ng-disabled="data.goal['active'].status !='Open'" ng-change="goalDataChanged()"></md-datepicker>
                    <div class="light-gray">(due)</div> 
                </div>
                
                <div class="md-caption light-gray small-pad-top">updated: {{data.goal['active'].date_modified | date: 'yyyy-MM-dd'}}</div>
                <div class="md-caption light-gray small-pad-top">created: {{data.goal['active'].date_created | date: 'yyyy-MM-dd'}}</div>
                
                <div layout="row" class="small-pad-top">
                    <md-button class="md-raised md-primary" ng-hide="!showEditButtons" ng-click="save()" aria-label="Save goal changes">Save</md-button>
                    <md-button class="md-raised" ng-hide="!showEditButtons" ng-click="cancel()" aria-label="Cancel goal changes">Cancel</md-button>
                </div>
        </div>
  </div>

</div>

</div>

<div ng-controller="CreateCtrl">
    <create-sidenav f="methods" d="data"></create-sidenav>
</div>

<div ng-controller="CreateActionCtrl">
    <create-action f="methods" d="data"></create-action>
</div>