<div class="md-padding">

<!-- <div layout="row" layout-sm="column" layout-align="start center"> -->
	<h1 class="md-display-3">{{activeGoal.description}}</h1>
	<md-button class="md-raised" href="#/dashboard">Dashboard</md-button>
<!-- </div> -->

<div layout="row" layout-sm="column" class="dashboard-stat-container">
  <div flex layout="column" layout-align="center center" class="dashboard-stat light-blue">
  	<div class="md-display-2">{{activeGoal.remainingDays}}</div>
  	<div>Days remaining</div>
  </div>
  <div flex layout="column" layout-align="center center" class="dashboard-stat light-blue">
    <div class="md-display-1">
    	<!-- {{activeGoal.due | date}} -->
    	<md-datepicker ng-model="activeGoal.due" required md-placeholder="Due date">
        </md-datepicker>
    </div>
  	<div>Deadline</div>
  </div>
  <div flex layout="column" layout-align="center center" class="dashboard-stat light-blue">
    <!-- TODO: load initial value-->
  	<div class="md-headline"> 
	  	<md-select required ng-model="activeGoal.status">
		    <md-option ng-repeat="s in statusList">
		        {{s}}
		    </md-option>
		</md-select>
	</div>
  	<div>Status</div>
  </div>
</div>

<div layout="row" layout-sm="column" class="dashboard-stat-container">
  <div flex layout="column" layout-align="center center" class="dashboard-stat light-blue">
  	<div class="md-display-1">
  		<md-checkbox ng-model="activeGoal.is_public" aria-label="Is public">
          {{ activeGoal.is_public | is_publicFormat }}
        </md-checkbox>
  	</div>
  	<div>Viewable by public</div>
  </div>
  <div flex layout="column" layout-align="center center" class="dashboard-stat light-blue">
    <div class="md-display-1">{{activeGoal.date_created | date}}</div>
  	<div>Created</div>
  </div>
  <div flex layout="column" layout-align="center center" class="dashboard-stat light-blue">
    <div class="md-display-1">{{activeGoal.date_modified | date}}</div>
  	<div>Modified</div>
  </div>
</div>

<div layout="row" layout-sm="column" class="dashboard-stat-container">
  <div flex layout="column" layout-align="center center" class="dashboard-stat light-orange">
  	<div class="md-display-2">42</div>
  	<div>Action repetitions</div>
  </div>
  <div flex layout="column" layout-align="center center" class="dashboard-stat light-orange">
    <div class="md-display-1">21</div>
  	<div>Repetitions complete</div>
  </div>
  <div flex layout="column" layout-align="center center" class="dashboard-stat light-orange">
    <div class="md-display-1">50%</div>
  	<div>Repetition conversion</div>
  </div>
</div>


</div>

