<!-- Settings -->
<md-sidenav layout="column" class="md-sidenav-right md-whiteframe-11dp" md-component-id="settings" scroll>
    <div ng-cloak>
        <!-- Toolbar -->
        <md-toolbar class="md-hue-2">
          <div class="md-toolbar-tools">
            <h2>
              <span>Settings</span>
            </h2>
            <span flex></span>
            <md-button class="md-icon-button goal-card-icon" aria-label="Close" ng-click="f.toggleMenu('settings')">
                <ng-md-icon icon="close" class="white-fill"></ng-md-icon>
            </md-button>
          </div>
        </md-toolbar>

        <md-list ng-cloak>
          <md-list-item ng-click="logout()" href="#/login">
            <md-button class="md-raised md-warn"> Logout </md-button>
          </md-list-item>
        </md-list>
    </div>
</md-sidenav>