<div layout="row" layout-align="center center" layout-wrap class="page">
    <div layout-xs="99" flex="90" layout-wrap>
        <md-button class="md-raised md-accent" href="#/dashboard">
         Dashboard
        </md-button>
    </div>
</div>

<div ng-repeat="g in goal | orderBy: getDateCreated : true" ng-hide="(g.status == 'Open' && filter.goal.open == false) || (g.status == 'Closed - Complete' && filter.goal.closedComplete == false) || (g.status == 'Closed - Incomplete' && filter.goal.closedIncomplete == false) || (g.due < filter.goal.dueStart) || (g.due > filter.goal.dueEnd) || (g.date_created < filter.goal.createdStart) || (g.date_created > filter.goal.createdEnd)">
    <div layout="row" layout-align="center center" layout-wrap class="page">

        <md-card layout-xs="99" flex="90" layout-wrap>
            <md-card-content>
                <div layout="column">
                    <div layout="row" layout-align="start center">
                        <div class="md-headline"> {{g.description}} by {{ g.due | date}}</div>
                        
                        <div flex layout="row" layout-align="end center">
                            <!-- <div class="md-caption goal-due"> {{ g.due | date}} </div> -->

                            <!-- <md-button class="md-icon-button goal-card-icon" aria-label="Less">
                                <ng-md-icon icon="arrow_drop_up"></ng-md-icon>
                            </md-button> -->
                            <md-button class="md-icon-button goal-card-icon" aria-label="Edit" ng-click="showEditGoalMenu(g)">
                                <ng-md-icon icon="edit"></ng-md-icon>
                            </md-button>
                        </div>
                    </div>

                    <div ng-repeat="a in action | filter:{ _goalid: g._id}:true" ng-hide="(a.status == 'Open' && filter.action.open == false) || (a.status == 'Closed - Complete' && filter.action.closedComplete == false) || (a.status == 'Closed - Incomplete' && filter.action.closedIncomplete == false) || (a.date_created < filter.action.createdStart) || (a.date_created > filter.action.createdEnd) || (a.daysRemaining > filter.action.daysRemaining)">

                        <!-- Divider -->
                        <span layout="row"><hr flex/><hr flex/></span>

                        <div layout="row" layout-align="start center" class="small-pad-top">
                            <div layout="column" layout-align="start start" class="">

                                <md-button class="md-icon-button goal-card-icon progress-plus" aria-label="Up progress" ng-click="updateProgress(a, 1);">
                                    <ng-md-icon icon="keyboard_arrow_up"></ng-md-icon>
                                </md-button>

                                <md-button class="md-icon-button goal-card-icon progress-minus" aria-label="Down progress" ng-click="updateProgress(a, -1);">
                                    <ng-md-icon icon="keyboard_arrow_down"></ng-md-icon>
                                </md-button>
                            </div>

                            <div layout="column" class="small-pad-left-right action-info" layout-align="center center">
                                <div class="md-headline">{{ a.currentProgress }}/{{a.verb_quantity}}</div>
                                <div>{{ a.currentProgress/a.verb_quantity | percentage:0 }}</div>
                            </div>
                            <div layout="column" class="small-pad-left-right action-info" layout-align="center center">
                                <div layout="row" layout-align="center center">
                                    <div class="md-headline">{{ a.daysRemaining }}</div>
                                    <div class="small-pad-left">{{ a.daysRemaining | daysRemainingDescription}}</div>
                                </div>
                                <div>{{ a.deadline | date: 'MMM d'}}</div>
                            </div>

                            <div class="graph-placeholder hide-sm">
                                <nvd3 options="a.chart.options" data="a.chart.data"></nvd3>
                            </div>
                        </div>
                        <div layout="row" class="small-pad-top-bottom">
                            <div flex layout="row" layout-align="center center">{{a.verb}} {{a.verb_quantity}} {{a.noun}} {{a.period | periodInWords:0}} until {{a.due | date}}</div>
                            <div layout-align="center end">
                                <md-button class="md-icon-button goal-card-icon" aria-label="Edit" ng-click="showEditActionMenu(g, a)">
                                    <ng-md-icon icon="edit"></ng-md-icon>
                                </md-button>
                            </div>
                        </div>

                    </div>
                </div>
    </div>
    </md-card-content>
    </md-card>
</div>
</div>

<!-- SIDENAVS -->

<!-- Create -->
<md-sidenav layout="column" class="md-sidenav-right md-whiteframe-11dp" md-component-id="create" scroll>
    <div ng-cloak>
        <!-- Toolbar -->
		<md-toolbar>
	      <div class="md-toolbar-tools">
	        <h2>
	          <span>Create new</span>
	        </h2>
	        <span flex></span>
	        <md-button class="md-icon-button goal-card-icon" aria-label="Close" ng-click="toggleMenu('create')">
                <ng-md-icon icon="close" class="white-fill"></ng-md-icon>
            </md-button>
	      </div>
	    </md-toolbar>
        <md-content>
            <md-tabs md-dynamic-height md-border-bottom>
                <!-- Create Goal -->
                <md-tab label="Goal">
                    <md-content class="md-padding">
                        <md-input-container class="md-block">
                            <label>Goal description</label>
                            <textarea required ng-model="goal.description" md-maxlength="150" rows="5" md-select-on-focus></textarea>
                        </md-input-container>

                        <md-input-container>
                            <label>Status</label>
                            <md-select required ng-model="goal.status">
                                <md-option ng-repeat="s in statusList">
                                    {{s}}
                                </md-option>
                            </md-select>
                        </md-input-container>

                        <md-checkbox ng-model="goal.is_public" aria-label="Is public">
                            Public
                        </md-checkbox>

                        <md-datepicker ng-model="goal.due" required md-placeholder="Due date">
                        </md-datepicker>


                        <div class="small-pad-top">
                            <md-button class="md-raised md-primary" ng-click="createGoal(goal.description, goal.due, goal.status, goal.is_public);">Save</md-button>
                            <md-button ng-click="toggleMenu('create')">Cancel</md-button>
                        </div>
                    </md-content>
                </md-tab>
                <!-- Create Action -->
                <md-tab label="Action">
                    <md-content class="md-padding">
                        <md-input-container>
                            <label>Goal</label>
                            <md-select required ng-model="goalSelected">
                                <md-option ng-repeat="g in goal" value="{{g._id}}">
                                    {{g.description}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Action</label>
                            <input md-maxlength="30" required name="actionverb" ng-model="action.verb" />
                            <div class="hint">E.g. Walk, Read, Study, Attend, etc.</div>
                            <div ng-messages="userForm.name.$error">
                            </div>
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Repetitons</label>
                            <input type="number" required name="actionverbfrequency" ng-model="action.verb_quantity" />
                            <div class="hint">E.g. 1, 2, 3, etc.</div>
                            <div ng-messages="userForm.name.$error">
                            </div>
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Acting on</label>
                            <input md-maxlength="30" required name="actionnoun" ng-model="action.noun" />
                            <div class="hint">E.g. Miles, Books, Gym sessions, etc.</div>
                            <div ng-messages="userForm.name.$error">
                            </div>
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Per number of days</label>
                            <input type="number" required name="actionperiod" ng-model="action.period" />
                            <div class="hint">E.g. 1, 7 (1 week), 30 (1 month), etc.</div>
                            <div ng-messages="userForm.name.$error">
                            </div>
                        </md-input-container>
                        <md-input-container>
                            <label>Status</label>
                            <md-select required ng-model="action.status">
                                <md-option ng-repeat="s in statusList">
                                    {{s}}
                                </md-option>
                            </md-select>
                        </md-input-container>

                        <md-checkbox ng-model="action.is_public" aria-label="Is public">
                            Public
                        </md-checkbox>

                        <md-datepicker ng-model="action.due" required md-placeholder="Until"></md-datepicker>
                        </md-input-container>
                        <div class="small-pad-top">
                            <md-button class="md-raised md-primary" ng-click="createAction(goalSelected, action.verb, action.verb_quantity, action.noun, action.period, action.due, action.status, action.is_public)">Save</md-button>
                            <md-button ng-click="toggleMenu('create')">Cancel</md-button>
                        </div>
                    </md-content>
                </md-tab>
            </md-tabs>
    </div>
</md-sidenav>

<!-- Edit Goal -->
<md-sidenav layout="column" class="md-sidenav-right md-whiteframe-11dp" md-component-id="editGoal" scroll>
    <div ng-cloak>
        <!-- Toolbar -->
		<md-toolbar>
	      <div class="md-toolbar-tools">
	        <h2>
	          <span>Edit goal</span>
	        </h2>
	        <span flex></span>
	        <md-button class="md-icon-button goal-card-icon" aria-label="Close" ng-click="toggleMenu('editGoal')">
                <ng-md-icon icon="close" class="white-fill"></ng-md-icon>
            </md-button>
	      </div>
	    </md-toolbar>
        <md-content class="md-padding">
            <md-input-container class="md-block">
                <label>Goal description</label>
                <textarea required ng-model="editGoal.description" md-maxlength="150" rows="5" md-select-on-focus></textarea>
            </md-input-container>

            <md-input-container>
                <label>Status</label>
                <md-select ng-model="editGoal.status">
                    <div ng-repeat="s in statusList">
                        <md-option value="{{s}}">{{s}}</md-option>
                    </div>
                </md-select>
            </md-input-container>

            <md-checkbox ng-model="editGoal.is_public" aria-label="Is public">
                Public
            </md-checkbox>

            <md-datepicker ng-model="editGoal.due" required md-placeholder="Due date">
            </md-datepicker>


            <div class="small-pad-top">
                <md-button class="md-raised md-primary" ng-click="updateGoal(editGoal._id, editGoal.description, editGoal.due, editGoal.status, editGoal.is_public);">Save</md-button>
                <md-button ng-click="cancelUpdateGoal()">Cancel</md-button>

            </div>

            <span layout="row"><hr flex/><hr flex/></span>

            <form id="deleteForm">
                <md-input-container class="md-block small-pad-top" flex-gt-sm>
                    <label>Confirm delete goal & related actions</label>
                    <input required name="editGoalDelete" ng-model="editGoal.delete" />
                    <div class="hint">Type REMOVE and cick delete</div>
                    <div ng-messages="userForm.name.$error">
                    </div>
                </md-input-container>

                <md-button class="md-raised md-warn" ng-disabled="editGoal.delete != 'REMOVE'" ng-click="deleteGoal(editGoal);">Delete</md-button>
            </form>

        </md-content>
    </div>
</md-sidenav>

<!-- Edit Action -->
<md-sidenav layout="column" class="md-sidenav-right md-whiteframe-11dp" md-component-id="editAction" scroll>
    <div ng-cloak>
        <!-- Toolbar -->
		<md-toolbar>
	      <div class="md-toolbar-tools">
	        <h2>
	          <span>Edit action</span>
	        </h2>
	        <span flex></span>
	        <md-button class="md-icon-button goal-card-icon" aria-label="Close" ng-click="toggleMenu('editAction')">
                <ng-md-icon icon="close" class="white-fill"></ng-md-icon>
            </md-button>
	      </div>
	    </md-toolbar>
        <md-content class="md-padding">
            <md-content class="md-padding">

                <md-input-container>
                    <label>Goal</label>
                    <md-select required ng-model="editAction._goalid">
                        <div ng-repeat="g in goal">
                            <md-option value="{{g._id}}">{{g.description}}</md-option>
                        </div>
                    </md-select>
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Action</label>
                    <input md-maxlength="30" required name="actionverb" ng-model="editAction.verb" />
                    <div class="hint">E.g. Walk, Read, Study, Attend, etc.</div>
                    <div ng-messages="userForm.name.$error">
                    </div>
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Repetitons</label>
                    <input type="number" required name="actionverbfrequency" ng-model="editAction.verb_quantity" />
                    <div class="hint">E.g. 1, 2, 3, etc.</div>
                    <div ng-messages="userForm.name.$error">
                    </div>
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Acting on</label>
                    <input md-maxlength="30" required name="actionnoun" ng-model="editAction.noun" />
                    <div class="hint">E.g. Miles, Books, Gym sessions, etc.</div>
                    <div ng-messages="userForm.name.$error">
                    </div>
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Per number of days</label>
                    <input type="number" required name="actionperiod" ng-model="editAction.period" />
                    <div class="hint">E.g. 1, 7 (1 week), 30 (1 month), etc.</div>
                    <div ng-messages="userForm.name.$error">
                    </div>
                </md-input-container>
                <md-input-container>
                    <label>Status</label>
                    <md-select ng-model="editAction.status">
                        <div ng-repeat="s in statusList">
                            <md-option value="{{s}}">{{s}}</md-option>
                        </div>
                    </md-select>
                </md-input-container>

                <md-checkbox ng-model="editAction.is_public" aria-label="Is public">
                    Public
                </md-checkbox>

                <md-datepicker ng-model="editAction.due" required md-placeholder="Until"></md-datepicker>
                </md-input-container>
                <div class="small-pad-top">
                    <md-button class="md-raised md-primary" ng-click="updateAction(editAction._goalid, editAction.verb, editAction.verb_quantity, editAction.noun, editAction.period, editAction.due, editAction.status, editAction.is_public, editAction._id, editAction)">Save</md-button>
                    <md-button ng-click="cancelUpdateAction()">Cancel</md-button>
                </div>


                <span layout="row"><hr flex/><hr flex/></span>

                <md-input-container class="md-block small-pad-top" flex-gt-sm>
                    <label>Confirm delete action</label>
                    <input required name="editActionDelete" ng-model="editAction.delete" />
                    <div class="hint">Type REMOVE and cick delete</div>
                    <div ng-messages="userForm.name.$error">
                    </div>
                </md-input-container>

                <md-button class="md-raised md-warn" ng-disabled="editAction.delete != 'REMOVE'" ng-click="deleteAction(editAction)">Delete</md-button>

            </md-content>
    </div>
</md-sidenav>
<!-- Settings -->

<md-sidenav layout="column" class="md-sidenav-right md-whiteframe-11dp" md-component-id="settings" scroll>
    <div ng-cloak>
        <!-- Toolbar -->
		<md-toolbar>
	      <div class="md-toolbar-tools">
	        <h2>
	          <span>Settings</span>
	        </h2>
	        <span flex></span>
	        <md-button class="md-icon-button goal-card-icon" aria-label="Close" ng-click="toggleMenu('settings')">
                <ng-md-icon icon="close" class="white-fill"></ng-md-icon>
            </md-button>
	      </div>
	    </md-toolbar>
        <md-content class="md-padding">

            <md-button class="md-raised md-warn" ng-click="logout()" href="#/login">Logout</md-button>

        </md-content>
    </div>
</md-sidenav>

<!-- Filter -->

<md-sidenav layout="column" class="md-sidenav-right md-whiteframe-11dp" md-component-id="filter" scroll>
    <div ng-cloak>
    	<!-- Toolbar -->
		<md-toolbar>
	      <div class="md-toolbar-tools">
	        <h2>
	          <span>Filter</span>
	        </h2>
	        <span flex></span>
	        <md-button class="md-icon-button goal-card-icon" aria-label="Close" ng-click="toggleMenu('filter')">
                <ng-md-icon icon="close" class="white-fill"></ng-md-icon>
            </md-button>
	      </div>
	    </md-toolbar>

        <md-content class="md-padding">
            <h1 class="md-display-1">Goals</h1>
            <h1 class="md-title gray">Status</h1>
            <md-checkbox ng-model="filter.goal.open" aria-label="Goal Open">
                Open
            </md-checkbox>
            <md-checkbox ng-model="filter.goal.closedComplete" aria-label="Goal Open">
                Closed (Complete)
            </md-checkbox>
            <md-checkbox ng-model="filter.goal.closedIncomplete" aria-label="Goal Open">
                Closed (Incomplete)
            </md-checkbox>

            <h1 class="md-title gray">Due</h1>
            <md-datepicker ng-model="filter.goal.dueStart" required md-placeholder="After">
            </md-datepicker>
            <md-datepicker ng-model="filter.goal.dueEnd" required md-placeholder="Before">
            </md-datepicker>

            <h1 class="md-title gray">Created</h1>
            <md-datepicker ng-model="filter.goal.createdStart" required md-placeholder="After">
            </md-datepicker>
            <md-datepicker ng-model="filter.goal.createdEnd" required md-placeholder="Before">
            </md-datepicker>

            <!-- <md-button class="md-raised" ng-click="expandGoals()">Expand all</md-button>
            <md-button class="md-raised" ng-click="collapseGoals()">Collapse all</md-button> -->
            <!-- Actions -->
            <h1 class="md-display-1">Actions</h1>
            <h1 class="md-title gray">Status</h1>

            <md-checkbox ng-model="filter.action.open" aria-label="Action Open">
                Open
            </md-checkbox>
            <md-checkbox ng-model="filter.action.closedComplete" aria-label="Action Closed Complete">
                Closed (Complete)
            </md-checkbox>
            <md-checkbox ng-model="filter.action.closedIncomplete" aria-label="Action Closed Incomplete">
                Closed (Incomplete)
            </md-checkbox>

            <h1 class="md-title gray">Due within {{filter.action.daysRemaining}} days</h1>
            <div layout="row">
                <md-slider flex min="0" max="60" ng-model="filter.action.daysRemaining" aria-label="due" id="due-slider" class>
                </md-slider>
                <div flex="20" layout layout-align="center center">
                    <input flex type="number" ng-model="filter.action.daysRemaining" aria-label="due" aria-controls="due-slider">
                </div>
            </div>

            <h1 class="md-title gray">Created</h1>
            <md-datepicker ng-model="filter.action.createdStart" required md-placeholder="After">
            </md-datepicker>
            <md-datepicker ng-model="filter.action.createdEnd" required md-placeholder="Before">
            </md-datepicker>

        </md-content>
    </div>
</md-sidenav>

<!-- <div class="page">
<md-button href="#/login" ng-click="logout()">Logout</md-button>
</div> -->