body {
	background-color: rgba(235,235,235,1);
	/*background-image: url("/images/minimalism_gradient_glow_blue.jpg");
	background-size:cover;*/
}

.menu-icon {
	fill: white;
}

.login-box {
	padding-top: 2em;
	padding-bottom: 2em;
}

.menu-toolbar {
	/*background-color:rgba(63, 81, 181, 0.25) !important;*/
}

.signup-box {
	/*min-width: 300px;*/
	/*max-width: 600px;*/
	width: 350px;
}

.main-selling-point{
	font-weight: bold;
    font-size: xx-large;
    text-align: center;
    margin-top: 100px;
    padding: 10px;
}

.invalid {
  color: red;
}

.newSocialUser {
  color: green;
}

.newUserError {
  color: red;
}

.page{
	background-color: rgba(235,235,235,1);
}

.goal-due{
	padding-left: 8px;
}

.goal-card-icon{
	opacity: 0.7;
	/*fill: royalblue;*/
}

.small-pad-left{
	padding-left: 5px;
}

.medium-pad-left{
	padding-left: 10px;
}

.small-pad-right{
	padding-right: 1em;
}
.small-pad-left-right{
	padding: 1em;
	margin-left: 0.5em;
	margin-right: 0.5em;
}

.small-pad-top{
	padding-top: 1em;
}

.small-pad-top-bottom{
	padding-top: 1em;
	padding-bottom: 1em;
}


.graph-placeholder{
	background-color: #FFFCE4;
	min-height: 80px;
	min-width: 50%;
	margin-left: 1em;
}

.progress-minus{
	background-color: #F7F6F6;
}

.action-info{
	background-color: #FFFCE4;
}

.progress-plus{
	background-color: #B3FFAA;
}