body {
	/*background-color: rgba(235,235,235,1);*/
	/*background-image: url("/images/minimalism_gradient_glow_blue.jpg");
	background-size:cover;*/
}

.menu-icon {
	fill: white;
}

.login-box {
	padding-top: 2em;
	padding-bottom: 2em;
}

.menu-toolbar {
	/*background-color:rgba(63, 81, 181, 0.25) !important;*/
}

.signup-box {
	/*min-width: 300px;*/
	/*max-width: 600px;*/
	width: 350px;
}

.main-selling-point{
	font-weight: bold;
    font-size: xx-large;
    text-align: center;
    margin-top: 100px;
    padding: 10px;
}

.invalid {
  color: red;
}

.newSocialUser {
  color: green;
}

.newUserError {
  color: red;
}

.page{
	background-color: rgba(235,235,235,1);
}

.goal-due{
	padding-left: 8px;
}

.goal-card-icon{
	opacity: 0.7;
	/*fill: royalblue;*/
}

.small-pad-left{
	padding-left: 5px;
}

.medium-pad-left{
	padding-left: 10px;
}

.large-pad-left{
	padding-left: 20px;
}

.filter-controls{
	/*background-color: #FBFBFB;*/
}
.small-pad-right{
	padding-right: 1em;
}
.small-pad-left-right{
	padding: 1em;
	margin-left: 0.5em;
	margin-right: 0.5em;
}

.small-pad-top{
	padding-top: 1em;
}
.large-pad-top{
	padding-top: 4.2em;
}

.small-pad-top-bottom{
	padding-top: 1em;
	padding-bottom: 1em;
}


.graph-placeholder{
	/*background-color: #FFFCE4;*/
	min-height: 400px;
	min-width: 50%;
	margin-left: 1em;
}

.progress-minus{
	background-color: #F7F6F6;
}

.action-info{
	background-color: #FFFCE4;
	min-width: 80px;
}

.progress-plus{
	background-color: #B3FFAA;
}

[scroll] {
  position:fixed;
  top:0;
}

.hint {
    /* Position the hint */
    position: absolute;
    left: 2px;
    right: auto;
    bottom: 7px;
    /* Copy styles from ng-messages */
    font-size: 12px;
    line-height: 14px;
    transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
    /* Set our own color */
    color: grey; }

 .gray {
 	color: gray;
 }

 .white-fill {
 	fill: white;
 }

 .dashboard-stat{
 	color: white;
 	padding-bottom: 5px;
 	height: 77px;
 	margin-right: 4px;
 	margin-bottom:4px;
 }

 .light-blue{
 	background-color: #4777C3;
 }

 .light-orange{
 	background-color: #DA5025;
 }

 .dashboard-box{
 	/*background-color: rgba(235,235,235,1);*/
 	max-height: 440px;
 	/*width: 300px;*/
/* 	margin-left: 8px;
 	margin-right: 8px;
 	margin-bottom: 8px;*/

 }

 .dashboardbox-top-margin{
 	/*margin-top: 20px;*/
 }

 .light-gray{
 	color: #5D5D5D;
 }

 .subtle-control{
 	background-color: rgba(235,235,235,0);
 	border: none;
 	color: #FF4081;
 	margin-left: 15px;
 }

 .dashboard-subhead{
 	margin-top: -20px;
 	margin-bottom: 20px;
 }

.dashboard-box-caption{
	margin-top: -6px;
}

.outlook-head{
	font-size: 3em;
	margin-bottom: -0.7em;
	/*margin-top: 0.005em;*/
}

.dashboard-pane-1{
	margin-left: 10px;
}

.dashboard-pane-2{
	margin-left: 10px;
	margin-right: 10px;
}

.greenFill{
	fill: green;
}

.orangeFill{
	fill: orange;
}

.dashboard-stat-container{
	margin-right: 10px;
}

.min300{
	min-width: 300px;
}

.href-link{
	color: #3470CE;
	text-decoration: none;
}

.min-goal{
	min-width: 300px;
}

.goal-list {
	min-width: 250px;
}

.list-filter {
	/*z-index: 1;*/
	margin-top: -3px;
	height: 100%;
}

.chip-goal{
	/*background-color: #D6FFD6 !important;*/
}

.chip-action{
	/*background-color: #FFD0C1 !important;*/
}