<!DOCTYPE html>
<html ng-app="app">
  <head>
    <title>LevelUp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0-rc5/angular-material.min.css">

    <link rel="stylesheet" href="/stylesheets/style.css">

    <!-- Angular Material requires Angular.js Libraries -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

    <script type="text/javascript" src="/javascripts/angular-resource.min.js"></script>
    <script type="text/javascript" src="/javascripts/angular-route.min.js"></script>


    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>

    <!-- Angular Material Library -->
    <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0-rc5/angular-material.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-material-icons/0.6.0/angular-material-icons.min.js"></script> 

    <script type="text/javascript" src="/javascripts/app.js"></script>
  </head>
  <body>

    <md-toolbar class="menu-toolbar">
      <div class="md-toolbar-tools">
        <md-button class="md-icon-button menu-icon" aria-label="Menu">
            <ng-md-icon icon="menu"></ng-md-icon>
        </md-button>
        <h2>
          <span>LevelUp</span>
        </h2>
        <span flex></span>
        <md-button class="md-icon-button menu-icon" aria-label="User">
            <ng-md-icon icon="face"></ng-md-icon>
        </md-button>
        <md-button class="md-icon-button menu-icon" aria-label="User">
            <ng-md-icon icon="settings"></ng-md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <!-- {{message}} -->
    <ng-view></ng-view>
  </body>
</html>
