<!DOCTYPE html>
<html ng-app="app">
  <head>
    <title>LevelUp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

<!--
    // Downlaod locally so dev can be done offline - see if fallback refs are possible
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0-rc5/angular-material.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    // Angular Material requires Angular.js Libraries
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

    <script type="text/javascript" src="/javascripts/angular-resource.min.js"></script>
    <script type="text/javascript" src="/javascripts/angular-route.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
    // Angular Material Library
    <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0-rc5/angular-material.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-material-icons/0.6.0/angular-material-icons.min.js"></script> 
 -->
    

<!-- OFFLINE -->
    <!-- Downlaod locally so dev can be done offline - see if fallback refs are possible -->
    <link rel="stylesheet" href="/stylesheets/angular-material.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">

    <!-- nvD3 -->
    <link rel="stylesheet" href="/stylesheets/nv.d3.min.css"/>
    
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.1/nv.d3.min.css"/> -->

    <!-- Angular Material requires Angular.js Libraries -->
    <script type="text/javascript" src="/javascripts/angular.min.js"></script>
    <script type="text/javascript" src="/javascripts/angular-resource.min.js"></script>
    <script type="text/javascript" src="/javascripts/angular-route.min.js"></script>
    <script type="text/javascript" src="/javascripts/angular-animate.min.js"></script>
    <script type="text/javascript" src="/javascripts/angular-aria.min.js"></script>
    <script type="text/javascript" src="/javascripts/angular-messages.min.js"></script>

    <!-- Angular Material Library -->
    <script type="text/javascript" src="/javascripts/angular-material.min.js"></script>
    <script type="text/javascript" src="/javascripts/angular-material-icons.min.js"></script> 
    
    <!-- Angular nvD3 -->
    <script type="text/javascript" src="/javascripts/d3.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="/javascripts/nv.d3.min.js"></script>
    <script type="text/javascript" src="/javascripts/angular-nvd3.js"></script>
    
<!-- 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.1/nv.d3.min.js"></script>
    <script src="https://rawgit.com/krispo/angular-nvd3/v1.0.4/dist/angular-nvd3.js"></script>
     -->

    <!-- Angular app -->
    <script type="text/javascript" src="/javascripts/app.js"></script>
  </head>

  <body>
    <div ng-controller="RootCtrl" layout="column">
    <md-toolbar class="menu-toolbar" scroll>
      <div class="md-toolbar-tools">
        <md-button class="md-icon-button menu-icon" aria-label="Menu">
            <ng-md-icon icon="menu"></ng-md-icon>
        </md-button>
        <h2>
          <span class="md-headline">LevelUp</span>
        </h2>
        <span flex></span>

        <div ng-switch="location.path()">
          <div ng-switch-when="/dashboard">
            
            <md-button class="md-icon-button menu-icon" aria-label='add' ng-click="toggleMenu('create')" href="javaScript:void(0);">
                <ng-md-icon icon="add"></ng-md-icon>
            </md-button>
            
            <md-button class="md-icon-button menu-icon" aria-label='filter' ng-click="toggleMenu('filter')" href="javaScript:void(0);">
                <ng-md-icon icon="filter_list"></ng-md-icon>
            </md-button>

            <md-button class="md-icon-button menu-icon" aria-label='settings' ng-click="toggleMenu('settings')" href="javaScript:void(0);">
                <ng-md-icon icon="settings"></ng-md-icon>
            </md-button>

          </div>

          <div ng-switch-default>

            <md-button class="md-icon-button menu-icon" aria-label='visibility' ng-click="" href="#/demo">
                <ng-md-icon icon="visibility"></ng-md-icon>
            </md-button>

            <md-button class="md-icon-button menu-icon" aria-label='person_add' ng-click="" href="#/signup">
                <ng-md-icon icon="person_add"></ng-md-icon>
            </md-button>

            <md-button class="md-icon-button menu-icon" aria-label='login' ng-click="" href="#/login">
                <ng-md-icon icon="login"></ng-md-icon>
            </md-button>

            

          </div>
        </div>
      </div>
    </md-toolbar>
    </div>
    <div class="large-pad-top"></div>
    <!-- Angular partials -->
    <ng-view></ng-view>
  </body>
</html>
